.topbarContainer {
    height: 60px;
    width: 100%;
    background-color: purple;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topbarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  
  .topbarCenter {
    flex: 5;
  }
  
  .searchbar {
    width: 100%;
    height: 30px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
  }
  
  .searchInput {
    border: none;
  flex: 9;
  padding: 8px;
  background-color: black;
  color: white;
  }
  
  .searchInput:focus {
    outline: none;
  }

  .searchButton {
    flex: 1;
    border: none;
    padding: 8px;
    cursor: pointer;
    background-color: lightslategray; /* Change color based on your preference */
    color: white;
    border-radius: 20px;
  }

  .loader {
    margin-left: 10px;
    color: black;
  }
  
  
  
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  
  .topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .topbarIcons {
    display: flex;
  }
  
  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  /* In your CSS file */
.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.searchResultItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.searchResultImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.searchResultName {
  font-weight: 500;
}

/* Adjust the styles as needed */
